:host {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    padding: 5px 12px;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &.left{
        flex-basis: 10%;
      }
      &.right {
        flex-basis: 30%;
        display: none;
        @media(min-width: 768px){
          display: flex;
        }
      }
      li {
        list-style-type: none;
      }
    }
    .burger-menu {
      display: flex;
      flex-direction: column;
      gap: 3px;
      cursor: pointer;
      div {
        width: 16px;
        height: 2px;
        background: rgb(239, 237, 237);
      }

      @media(min-width: 768px){
        display: none;
      }
    }
  }
}
