:host {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid gray;
    .name {
      cursor: pointer;
    }
    span {
      cursor:pointer;
      color: red;
      &:hover{
        filter:brightness(.8);
      }
    }
  }
}
