:host {
    .container {
        max-width: 700px;
        margin: auto;
        padding: 24px;
        border: 1px solid lightgreen;
        border-radius: 7px;
        h1 {
            text-align: center;
        }
        .all-maps {
            display: flex;
            justify-content: space-between;
            border: 1px solid lightblue;
            border-radius: 7px;
            padding: 12px;
        }
    }
}
