<div class="container">
  <h1>Interview Prep:</h1>
  <button (click)="isPalindrome('A man, a plans, a canal, Panama ')">
    Is Palindrome? {{ isPalindrome$ | async }} ::
    {{ "A man, a plans, a canal, Panama" }}
  </button>
  <button>Is 5 prime number? {{ isPrimeNumber(17) }}</button>
  <button>convert Roman to Number XXXIV: {{ romanToNumber("XXXIV") }}</button>
  <button>
    anagram test: {{ anamgramTest("fairy tales", "rail safety") }}
  </button>
  <button>
    Merge sort test:[1, 3, 4, 5, 9, 2, 3]:
    {{ mergeSort([1, 3, 4, 5, 9, 2, 3]) }}
  </button>
</div>
