:host {
  .container {
    max-width: 1250px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 12px;

    .each-product {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 12px;
      transition: all 1s ease-in-out;

      .icon {
        width: 30px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: green;
      }
    }

    .each-product:hover::before {
      content: "";
      position: absolute;
      inset: -10px;
      background-color: gray;
      border-radius: 12px;
      z-index: -10;
    }
  }
}
