<h1>Observable</h1>
<a routerLink="/">Home</a>
<div>
  Beginner
  {{ beginner$ | async | json }}
</div>
<hr />
<hr />
<div>
  Adbanced
  {{ advanced$ | async | json }}
</div>
<div class="container">
  <div class="card">
    <div class="card-image">
      <img src="../../../assets/feature-03.jpg" alt="picture" />
    </div>
    <div class="card-text">
      <h4>Shelby</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa,
        voluptatum! A voluptatem nam alias! Quis iste reiciendis dignissimos
        consequatur praesentium?
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="../../../assets/feature-03.jpg" alt="picture" />
    </div>
    <div class="card-text">
      <h4>Shelby</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa,
        voluptatum! A voluptatem nam alias! Quis iste reiciendis dignissimos
        consequatur praesentium?
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="../../../assets/feature-03.jpg" alt="picture" />
    </div>
    <div class="card-text">
      <h4>Shelby</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa,
        voluptatum! A voluptatem nam alias! Quis iste reiciendis dignissimos
        consequatur praesentium?
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="../../../assets/feature-03.jpg" alt="picture" />
    </div>
    <div class="card-text">
      <h4>Shelby</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa,
        voluptatum! A voluptatem nam alias! Quis iste reiciendis dignissimos
        consequatur praesentium?
      </p>
    </div>
  </div>
  <div>
    <input type="text" #input />
    <span class="round-border">suddhan</span>
  </div>
</div>
