:host {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .card {
      border-radius: 12px;
      overflow: hidden;
      .card-image {
        img {
          max-width: 100%;
          object-fit: cover;
        }
      }
      .card-text {
        padding: 12px;
        h4 {
          margin-block: 12px;
        }
      }
    }
    .card:not(:first-child) {
      margin-left: -50px;
      transition: all 0.4s ease-in-out;
    }
    .card:hover {
      transform: translateY(-20px);
    }
    .card:hover ~ .card {
      left: 50px;
    }
  }
  .round-border {
    padding: 3px 6px;
    background-color: rgb(40, 131, 223);
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
