:host {
  // height: 500px;
  // perspective: 700px;
  // position: relative;
  // width: 600px;      add this in the container
  .carousal-container {
    max-width: 1000px;
    margin: 50px auto;
    border: 1px solid green;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 40px -17.5px,
      rgba(0, 0, 0, 0.5) 46.2px 57.5px 70px -7.5px;
    position: relative;
    transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(-1deg);
  }

  ul[class] {
    padding: 0;
    margin: 0;
  }
  .mobile-nav-extension {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;

    ul {
      display: block;
    }

    ul li {
      cursor: pointer;
      width: 100%;
      list-style-type: none;
      padding: 12px;
      margin: 5px;
      //background-color: rgb(206, 202, 202);
    }
  }
  form {
    max-width: 600px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 18px;
  }
}

.wrapper {
  max-width: 800px;
  margin: 24px auto;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 18px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  row-gap: 24px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-algo {
    background-color: #626ee3;
    order: 2;
    flex-basis: 75%;
    margin: auto;
  }
  .product-system {
    background-color: #890023;
    flex-basis: 50%;
    align-self: center;
  }
  .product-ml {
    background-color: #f37f1b;
    height: 75px;
    flex-basis: 30%;
  }
  .product-frontend {
    background-color: #11967e;
    order: 3;
    flex-basis: 40%;
    align-self: flex-end;
  }
  .product-programming {
    background-color: #f21b3f;
    order: 4;
    height: 75px;
    flex-grow: 1;
    margin-left: 10px;
  }
}
