<app-navbar></app-navbar>
<div *ngIf="!(open$ | async)">
  <h1>Homepage</h1>
  <a routerLink="/observable">observable</a>
  <hr />
  <a routerLink="/all-maps">All maps</a>
  <hr />
  <a routerLink="/countries">All Countries</a>
  <hr />
  <a routerLink="/cold-hot">Cold Hot Observables</a>
  <hr />
  <a betterHighlight routerLink="/js-concepts">Javascript Concepts practice</a>
  <hr />
  <a routerLink="/formatting-context">formatting context by Kevin Powel</a>
  <hr />
  <a routerLink="/navbar">animation burgerMenu:</a>
  <hr />
  <a routerLink="/debounce-time">practice debounce:</a>
  <hr />
  <a routerLink="/prep">Interview Preparation:</a>
  <hr />
  <a routerLink="/animations">Angular animations:</a>
  <h1 basicHichlight>Carousal:</h1>
  <div class="carousal-container" [style.--carousal-height]="'400px'">
    <app-carousal></app-carousal>
  </div>

  <ul class="my-lists">
    <li>abc</li>
    <li>def</li>
  </ul>
</div>

<div *ngIf="open$ | async" class="mobile-nav-extension">
  <ul class="container__top-navigations">
    <li (click)="openNavMenu()">Services</li>
    <li (click)="openNavMenu()">Profile</li>
    <li (click)="openNavMenu()">About</li>
    <li (click)="openNavMenu()">Logout</li>
  </ul>
</div>
<form class="form-group">
  <h5>Bootstrap form:</h5>
  <div class="form-group">
    <label>Title: </label>
    <input class="form-control" name="title" type="text" />
  </div>
  <div class="form-group">
    <label>Price: </label>
    <input class="form-control" name="price" type="number" />
  </div>
  <div class="form-group">
    <label>Title: </label>
    <input class="form-control" name="title" type="text" />
  </div>
  <div class="form-group">
    <label>Category: </label>
    <select name="category">
      <option value=""></option>
      <option value="fruits">fruits</option>
      <option value="food">food</option>
      <option value="beverages">beverages</option>
    </select>
  </div>
  <button class="btn btn-success center">Save</button>
</form>

<div class="wrapper">
  <div class="product-algo"><p>AlgoExpert</p></div>
  <div class="product-system"><p>SystemExpert</p></div>
  <div class="product-ml"><p>ml-expert</p></div>
  <div class="product-frontend"><p>frontend-expert</p></div>
  <div class="product-programming"><p>programming-expert</p></div>
</div>

<div class="logo">
  <div class="algo-expert"></div>
  <h1>AlgoExpert</h1>
</div>
