<table>
  <thead>
    <ng-container
      *ngTemplateOutlet="header || defaultHeader; context: { $implicit: data }"
    ></ng-container>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <ng-container
        *ngTemplateOutlet="body || defaultBody; context: { $implicit: row }"
      ></ng-container>
    </tr>
  </tbody>
</table>

<ng-template #defaultHeader let-data>
  <tr>
    <th *ngFor="let heading of data[0] | keyvalue">{{ heading.key }}</th>
  </tr>
</ng-template>

<ng-template #defaultBody let-row>
  <td *ngFor="let item of row | keyvalue">{{ item.value }}</td>
</ng-template>
