<p>template-outlet works!</p>

<ng-template #outlet let-message let-name="name">
  <p>This is the outlet part.</p>
  <p>name: {{ name }}</p>
  <p>message: {{ message }}</p>
</ng-template>
<hr />
<ng-container
  *ngTemplateOutlet="
    outlet;
    context: { $implicit: 'just a message', name: 'sudhan' }
  "
></ng-container>
<hr />
<ng-container
  *ngTemplateOutlet="
    outlet;
    context: { $implicit: 'just a message', name: 'Biren' }
  "
></ng-container>
<hr />
<ng-container
  *ngTemplateOutlet="
    outlet;
    context: { $implicit: 'just a message', name: 'Resham' }
  "
></ng-container>
<app-custom-table [data]="employees"></app-custom-table>
<app-custom-table [data]="employees">
  <ng-template #header>
    <tr>
      <th>Age</th>
      <th>Name</th>
    </tr>
  </ng-template>
</app-custom-table>
