:host {
  .container {
    max-width: 1000px;
    margin: 24px auto;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 12px;
    text-align: center;

    h1 {
      border-bottom: 2px solid #000;
      display: inline-block;
      margin: auto;
    }
    form {
      padding: 12px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 12px;
      .person {
        border: 1px solid rgb(198, 195, 195);
        border-radius: 12px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        padding-top: 24px;
        @media (min-width: 768px) {
          flex-direction: row;
          margin-top: 0;
        }
        align-items: center;
        gap: 24px;
        &__info {
          flex-basis: 50%;
          display: flex;
          flex-direction: column;
          gap: 12px;

          label {
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 6px;
            input {
              border-radius: 12px;
              padding: 6px 12px;
            }
          }
          &__gender {
            display: flex;
            span {
              font-weight: bold;
            }
            gap: 24px;
            label {
              display: flex;
              flex-direction: row;
              gap: 6px;
            }
          }
        }
        &__image {
          margin: auto;
          height: 150px;
          width: 150px;
          border: 1px solid gray;
          background-color: rgb(220, 218, 218);
          border-radius: 12px;
          order: -1;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          overflow: hidden;
          img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
          }
          @media (min-width: 768px) {
            order: 2;
            height: 250px;
            width: 250px;
          }
        }
      }
      .extra {
        border: 1px solid rgb(198, 195, 195);
        border-radius: 12px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        .courses {
          text-align: left;
          display: flex;
          gap: 12px;
          span {
            font-weight: bold;
          }
          select {
            border-radius: 6px;
            padding-inline: 6px;
          }
        }
        .fruits-container {
          text-align: left;
          font-weight: bold;
          .fruits {
            display: flex;
            flex-direction: column;
            gap: 9px;
            padding-left: 24px;
            label {
              display: inline;
            }
            input {
              width: 18px;
              margin-right: 12px;
            }
          }
        }
        .colors {
          span {
            font-weight: bold;
          }
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 12px;
        }
      }
      textarea {
        border: 1px solid rgb(199, 196, 196);
        border-radius: 12px;
        padding: 12px;
      }
      button {
        border-radius: 18px;
        transition: all 0.4s ease-in-out;
        &:hover {
          background-color: rgb(192, 186, 186);
        }
      }
    }
  }
}
