<div class="container">
  <h1>Reactive Form</h1>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <div class="person">
      <div class="person__info" formGroupName="person">
        <label
          >Name:
          <input type="text" formControlName="name" />
        </label>
        <label
          >Birth Date
          <input type="date" formControlName="dob" />
        </label>
        <label
          >Email:
          <input type="email" formControlName="email" />
        </label>
        <div class="person__info__gender">
          <span>Gender:</span>
          <label>
            <input type="radio" value="male" formControlName="gender" />
            Male
          </label>
          <label>
            <input type="radio" value="female" formControlName="gender" />
            Female
          </label>
          <label>
            <input type="radio" value="others" formControlName="gender" />
            Others
          </label>
        </div>
        <label
          >Years of Experience:
          <input type="number" formControlName="experience" />
        </label>
      </div>
      <div class="person__image" (click)="browseImage()">
        <input
          type="file"
          accept=".png,.jpg,.jpeg"
          [style]="{ display: 'none' }"
          #image
          (change)="selectImage($event)"
        />
      </div>
    </div>
    <div class="extra" formGroupName="extra">
      <div class="courses">
        <span>Select Course:</span>
        <select name="" id="" formControlName="course">
          <option value="Java">Java</option>
          <option value="Python">Python</option>
          <option value="JavaScript">JavaScript</option>
          <option value=".Net">.Net</option>
        </select>
      </div>
      <div class="fruits-container">
        <span>Select Fruits:</span>
        <div class="fruits">
          <label
            ><input
              type="checkbox"
              value="√Lorem ipsum dolor sit amet. 1"
              (change)="saveOptions($event)"
            />Lorem ipsum dolor sit amet. 1</label
          >
          <label
            ><input
              type="checkbox"
              value="√Lorem ipsum dolor sit amet. 2"
              (change)="saveOptions($event)"
            />Lorem ipsum dolor sit amet. 2</label
          >
          <label
            ><input
              type="checkbox"
              value="Lorem ipsum dolor sit amet. 3"
              (change)="saveOptions($event)"
            />Lorem ipsum dolor sit amet. 3</label
          >
          <label
            ><input
              type="checkbox"
              value="√Lorem ipsum dolor sit amet. 4"
              (change)="saveOptions($event)"
            />Lorem ipsum dolor sit amet. 4</label
          >
          <label
            ><input
              type="checkbox"
              value="√Lorem ipsum dolor sit amet. 5"
              (change)="saveOptions($event)"
            />Lorem ipsum dolor sit amet. 5</label
          >
        </div>
      </div>
      <label class="colors"
        ><span>Select Color:</span>
        <input type="color" formControlName="color" />
      </label>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
